<h4> Opciones</h4>
<br />
<ul>
    <li><a href="/admins/mostrar/medico/{{ iuser.username }}/" title="">Mostrar Datos</a></li>
    <li><a href="/admins/modificar/medico/{{ iuser.username }}/" title="">Modificar Datos</a></li>
    <li><a href="/admins/modificar/medic-password/{{ iuser.username }}/" title="">Cambiar Contraseña</a></li>
    <li><a href="" title="">Turnos Solicitados</a></li>
    <li><a href="/admins/agregar/medico/expecialidad/{{ iuser.username }}/" title="">Agregar Expecialidad</a></li>
</ul>
