{% extends 'base.html' %}

{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
{% endblock %}



{% block contenido %}
<div  style="padding-left:10px;" >
    <br />
    <h2> Registrar Expecialidad Medica</h2>
</div>

<br />
    {% if show_form %}
        <div  class="fancy-form-white" style="width: 600px; margin: 0 auto;">
        <form action="" method="POST" enctype="multipart/form-data">
        <table style="width:600px; margin: 0 auto;">

            {% for field in form %}
            <tr>
                <td>{{ field.label }}:</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="2" style="text-align: center">
                    <br />
                    <br />
                    <input type="Submit" value="Registrar" class="grad-button-blue" />
                    <a href="/admins/listado/expecialidad-medica/" class="grad-button-blue">Atras</a>
                </td>
            </tr>
        </table>
        </form>
        </div>
        <br />
    {% endif %}

    {% if show_errors %}
        <div class="error">
        {% for field in uform %}
            {% if field.errors %}
                <p>{{ field.label }} -> {{ field.value }}</p>
                {{ field.errors }}<br />
            {% endif %}
        {% endfor %}
        {% for field in dform %}
            {% if field.errors %}
                <p>{{ field.label }} -> {{ field.value }}</p>
                {{ field.errors }}<br />
            {% endif %}
        {% endfor %}
        <div/>
    {% else %}
        {% autoescape off %}
        {{ custom_message }}
        {% endautoescape %}
    {% endif %}

    <!--Init DatePicker.js Code Definition -->
    <script type="text/javascript">
        DatePicker.SetUpElement("id_birth_date");
    </script>
    <!--End DatePicker.js Code Definition -->

{% endblock %}
