{% extends 'Admins/GestionTurnos/user-view.html' %}

{% block sub-cont %}
    {% include "Admins/GestionTurnos/admin-medic-submenu.html" %}
{% endblock %}

<!-- sub contenido -->
{% block view-cont %}
<br />
<h2>Datos del Medico</h2>

<br />
<div class="fancy-form-white" style="width: 550px; margin: 0 auto;">
    {% include "Admins/GestionTurnos/user-info.html" %}
</div>

    <br />
    <h2>Listado Expecialidades Medicas</h2>

    <br />
    
    <table class="tbl-round-light" style="width:400px; margin: 0 auto;">
        <tr>
            <th>Nombre</th>
            <th style="width: 120px">Opciones</th>
        </tr>
    {% for exp in expecialidades %}
        <tr>
           <td>{{ exp.speciality.name }}</td>
           <td>
                <!-- <a href="/admins/modificar/" title="">Modificar</a> -->
                <a href="/admins/borrar/expecialidad-del-medico/{{ exp.user.username }}/{{ exp.id }}/" title="">Quitar</a>
           </td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}
