{% extends 'Admins/GestionTurnos/user-view.html' %}

{% block sub-cont %}
    {% include "Admins/GestionTurnos/admin-patient-submenu.html" %}
{% endblock %}

<!-- sub contenido -->
{% block view-cont %}
<br />
<h2>Datos del Paciente</h2>

<br />
<div class="fancy-form-white" style="width: 550px; margin: 0 auto;">
    {% include "Admins/GestionTurnos/user-info.html" %}
</div>

    <br />
    <h2>Turnos Solicitados</h2>
    <br />
    
    <table class="tbl-round-light" style="width:650px; margin: 0 auto;">
        <tr>
            <th>Fecha</th>
            <th>Medico</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
        {% for turn in turns %}
        <tr>
            <td>{{ turn.day.date|date:"d/m/Y" }} - {{ turn.start }}</td>
            <td>{{ turn.medic.last_name }}, {{ turn.medic.first_name }}</td>
            <td>{{ turn.get_status_display }}</td>
            <td>
                <a href="" title="">Mostrar</a>
                <a href="" title="">Modificar</a>                
            </td>
        </tr>            
        {% endfor %}

    
    </table>


{% endblock %}
