{% extends 'Admins/GestionTurnos/user-view.html' %}

{% block sub-cont %}
    {% include "Admins/GestionTurnos/admin-medic-submenu.html" %}
{% endblock %}

<!-- sub contenido -->
{% block view-cont %}
<br />
<h2>Mostrar Turno</h2>
<br />
    <br />
    <div class="fancy-form-white" style="text-align: left; width: 450px; margin: 0 auto;">
            <table>
                <tr>
                    <td class="tbl-label">Paciente:</td>
                    <td>{{ turn.patient.first_name }} {{ turn.patient.last_name }}</td>
                </tr>
                <tr>
                    <td class="tbl-label">Medico:</td>
                    <td>{{ turn.medic.first_name }} {{ turn.medic.last_name }}</td>
                </tr>
                <tr>
                    <td class="tbl-label">Fecha:</td>
                    <td>{{ turn.day.date }}</td>
                </tr>
                <tr>
                    <td class="tbl-label">Numero de Orden:</td>
                    <td>{{ turn.number }}</td>
                </tr>
                <tr>
                    <td class="tbl-label">Hora Inicio:</td>
                    <td>{{ turn.start }}</td>
                </tr>
                <tr>
                    <td class="tbl-label">Hora Fin:</td>
                    <td>{{ turn.end }}</td>
                </tr>

                <tr>
                    <td class="tbl-label">Estado:</td>
                    <td>{{ turn.get_status_display }}</td>
                </tr>
                <tr>
                    <td class="tbl-label">Observaciones:</td>
                    <td>{{ turn.observation }}</td>
                </tr>
            </table>
        </div>
  
        <br />   
        <div style="text-align:center">
            <a class="grad-button-blue" href="/pacientes/turnos/imprimir/{{ turn.id }}/">Imprimir</a>
        </div>
        
{% endblock %}


