{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/css/fancy-forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/messages.css">
    <link rel="stylesheet" type="text/css" href="/media/css/gradient-buttons.css">
{% endblock %}


{% block contenido %}
<br />
<br />

{% if show_form %}
    <div class="fancy-form-white" style="margin: 0 auto; width: 400px;">
        <h2>Cambiar Contraseña</h2>
        <br />

        <form action="" method="POST">
        <table style="margin: 0 auto;">
            <tr>
                <td><label>Usuario:</label></td>
                <td>{{ iuser.username }}</td>
            </tr>            
            <tr>
                <td> <label>Nueva Contraseña:</label></td>
                <td><input type="text" name="password" class="edt_c"></td>
            </tr>


            <tr>
                <td colspan="2" style="text-align: center">
                    <br />
                    <input type="submit" value="Cambiar" class="grad-button-blue" />
                </td>
            </tr>
        </table>
        </form>
    </div>
{% else %}
    <div class="info">
        <p>La Constraseña fue actualizada correctamente.!</p>
    </div>
{% endif %}

{% endblock %}
