{% extends 'base.html' %}

{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/win-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-botons-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />

{% endblock %}

{% block contenido %}

    <br />
    <br />
    <br />
    <div class="windows" style="width:500px">
        <h3>Cambiar Contraseña</h3>
        <form action="." method="POST">
        <table>
            {{ form.as_table }}

            <tr>
                <td colspan="2" style="text-align: center">
                    <br />
                    <input type="submit" value="Cambiar" class="buttonCA">
                </td>
            </tr>
        </table>
        </form>
    </div>

    {% if query %}
            {% if form_e %}
                <div class="alert">
                {% for field in form_e %}
                    {{ field.errors }}
                {% endfor %}
                </div>
            {% else %}

                <div class="info">
                    <p>La Contraseña fue Actualizada correctamente..</p>
                </div>

            {% endif %}
    {% endif %}

{% endblock %}
