* {
    font-family: Verdana, Arial;
    margin: 0;
    padding: 0;
}


.header {
    background-image: url('../images/1336.png');
}


.header-cont { 
    margin: 0 auto;
    padding-top: 5px;
    width: 900px;
}


.header-cont h1 {
    font-family: tahoma, Verdana;
    color: #FFFFFF;
    font-weight: 100;
    text-shadow: 0px 0px 1px #D8D8D8;
}

.header-cont p {
    font-family: Tahoma;
    color: #DADADA;
}

/*
 * Nombre del usuario logueado en la parte sup derecha
 */
.header-cont #username-login {
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}


.page-body {
    margin: 0 auto;
    padding-top: 5px;
    width: 900px;
}

.left-cont {
    float: left;
    width: 180px;
    border: 1px solid #DDD;
}

.center-cont {
    margin-left: 190px;
    width: 700px;
    min-height: 500px;
    border: 1px solid #DDD;
}


.tbl-label {
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 3px;
}

.simple-tbl {
    border-collapse:collapse;
}

.simple-tbl, .simple-tbl th, .simple-tbl td {
    border: 1px solid #ADADAD;
}



/*
campos de texto
*/
input, textarea {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border : 1px solid #A3A3A3;
    padding: 2px 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888
}

input:focus{
}

select {
    -moz-border-radius: 3px;
    border-radius: 3px;
    border : 1px solid #A3A3A3;
    padding: 1px 1px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888
}

/*titulos*/

h2, h3{
    color: #161616;
    text-shadow: 0px 0px 1px #3C3C3C;
    font-weight: 100;
}
h2 {
    margin-left: 10px;
}

