* {
    font-family: Verdana, Arial;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../images/1336.png');
}


.header-cont { 
    margin: 0 auto;
    padding-top: 5px;
    width: 900px;
}


.header-cont h1 {
    font-family: tahoma, Verdana;
    color: #FFFFFF;
    font-weight: 100;
    text-shadow: 2px 2px 10px #000;
}

.header-cont p {
    font-family: Tahoma;
    color: #DADADA;
}

/*
 * Nombre del usuario logueado en la parte sup derecha
 */
.header-cont #username-login {
    font-size: 11px;
    font-weight: bold;
    text-align: right;
}


.page-body {
    margin: 0 auto;
    padding-top: 5px;
    width: 900px;
}

.left-cont {
    float: left;
    width: 180px;
    border: 1px solid #DDD;
}

.center-cont {
    margin-left: 190px;
    width: 700px;
    min-height: 500px;
    border: 1px solid #DDD;
}

