

.tbl-round-light {
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    font-size: 12px;
}


.tbl-round-light {
    border: solid #ccc 1px;   
}

.tbl-round-light tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.tbl-round-light td, .tbl-round-light th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 7px;
    text-align: left;    
}

.tbl-round-light th {
    background-color: #E4E4E4;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.tbl-round-light td:first-child, .tbl-round-light th:first-child {
    border-left: none;
}

.tbl-round-light a {
    text-decoration: None;
    color: #006291;
}
