{% extends 'base.html' %}


{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/win-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-botons-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/tabs-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
{% endblock %}



{% block contenido %}
    <br />

    <ul class="tabs">
        <li><a href="/medicos/mostrar/datos/{{ user.id }}">Datos Personales</a></li>
        <li class="active"><a href="/medicos/mostrar/especilidades/{{ user.id }}">Especialidades</a></li>
        <li><a href="/medicos/mostrar/horarios-atencion/{{ user.id }}">Horario Atencion</a></li>
    </ul>
    <div style="clear: both;"></div>
    <br />

    <div class="windows" style="width:500px">
        <h3>{{ sub_title }}</h3>
    </div>

    <table class="table" style="width: 500px; margin: 0 auto;">
        <tr>
            <th>Nombre Especialidad</th>
            {% if modify %}
                <th>Accion</th>
            {% endif %}
        </tr>
        {% for speciality in specialities %}
            <tr>
                <td><p>{{ speciality.speciality_name }}</p></td>
                {% if modify %}
                    <td align="center">
                        <a href="/medicos/quitar/especilidades/{{ speciality.id }}"><img src="/media/images/page_delete.gif"></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>


    <br />

    {% if modify %}
        <div style="text-align: right; padding-right: 250px">
            <a href="/medicos/agregar/especilidades/{{ user.id }}" class="buttonCA">Agregar Especialidades</a>
        </div>
    {% endif %}


{% endblock %}
