*.ini
*.pyc
*.pyw
#vim copia de seguridad
*.swp
#
Thumbs.db
media/upload/files
media/upload/images

#latex configuracion
*.aux
*.bak
*.bbl
*.blg
*.dia~
*.idx
*.ilg
*.ind
*.lof
*.log
*.out
*.synctex.gz
*.toc
