{% extends 'base.html' %}

{% block style %}
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/sub-menu-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />

    {% block ext_style %}
    {% endblock %}

{% endblock %}

{% block contenido %}

<div class="left-cont">
<div class="left-sub-menu">
    <br />
    <ul>
        <li><a href="/medicos/mostrar/{{ medic.user.id }}/" title="">Informacion Basica</a></li>
        {% if login_user != 'Usuario no Conectado' %}
            <li><a href="/pacientes/turnos/selecionar-dia/{{ medic.user.id }}/" title="">Solicitar Turno</a></li>
            {# en realidad este campo es de la parte mensajes #}
            <li><a href="/medicos/nueva/consulta-online/{{ medic.user.id }}/" title="">Realizar Consulta Online</a></li>
        {% endif %}
    </ul>
    <br />

</div>
</div>

<div class="center-cont">
    {% block view-cont %}
    {% endblock %}
</div>
{% endblock %}
