{% extends 'base.html' %}

{% block style %}
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
{% endblock %}


{% block contenido %}
    <br />
    {% if show_form %}
        {% include "Medics/GestionTurnos/patient-basic-data-form.html" %}
    {% endif %}
    
    {% if show_errors %}
        <div class="alert" >		
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        </div> 
    {% endif %}
    
    {% if update_ok %}    
        <div class="alert" >
        <p>Datos Actualizados Correctamente...</p>
        </div>
       
        <br />
        <br />
        <div style="text-align:center">
            <a href="/pacientes/show-info/{{ pac_username }}/" class="grad-button-blue">Volver</a>
        </div>
    {% endif %}
    
{% endblock %}

