{% extends 'base.html' %}

{% block style %}
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
{% endblock %}

{% block contenido %}
<br />

{% autoescape off %}
    {{ custon_message }}
{% endautoescape %}


{% if show_form %}
    {% include "Patients/GestionTurnos/register-form.html" %}
{% endif %}

{% if show_errors %}
    {% if form_error %}
        <div class="alert" >		
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        </div> 
    {% endif %}
    
    {% autoescape off %}
        {{ custon_errors }}
    {% endautoescape %}
    
{% endif %}

{% endblock %}
