{% extends 'base.html' %}

{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/DatePicker-style.css" />
{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="/media/js/DatePicker.js"></script>
{% endblock %}

{% block contenido %}
<br />

{% autoescape off %}
    {{ custon_message }}
{% endautoescape %}

{{ query }} {# resultado o salida debug only #}

{% if show_form %}
    {% include "Patients/GestionTurnos/register-form.html" %}

    <!--Init DatePicker.js Code Definition -->
    <script type="text/javascript">
        DatePicker.SetUpElement("birth_date");
    </script>
    <!--End DatePicker.js Code Definition -->
{% endif %}

{% if show_errors %}
    {% if form_errors %}
        <div class="alert" >		
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        </div>
    {% endif %}

    {% autoescape off %}
        {{ custon_errors }}
    {% endautoescape %}
{% endif %}

{% endblock %}
