{% extends 'base.html' %}


{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/tabs-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
{% endblock %}


{% block contenido %}

<br />
<h2>Inbox - Recibidos</h2>

<ul class="tabs">
   <li><a href="">Nuevo Mensaje</a></li> 
   <li><a href="">Mensajes No Leidos</a></li>
   <li class="active"><a href="">Mensajes Recibidos</a></li> 
   <li><a href="">Mensajes Enviados</a></li> 
</ul>

{% if no_empty %}
<table class="inbox">
    {% for msj in msj_inbox %}
        {%  if msj.read %}
            <tr class="read">
        {% else %}
            <tr class="no-read">
        {% endif %}
            <td style="width:300px;"><a href="">{{ msj.from_user.first_name }} {{ msj.from_user.last_name }}</a></td>
            <td><a href="">{{ msj.issue }}</a></td>
            <td style="width: 200px;"><a href="">{{  msj.date }}</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <br /><br />
    <h3>La Bandeja esta Vacia</h3>
{% endif %}

{% endblock %}