{% extends 'base.html' %}

{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
{% endblock %}


{% block contenido %}
<br />
<h3>Agregar Consulta Medica</h3>
<br />
    {% if show_form %}
        {% include "Medics/GestionTurnos/agregar-consulta-medica-form.html" %}
    {% else %}

        <div class="success">Consulta Agregada Exitosamente </div>
        <br />
        <br />
        <div style="text-align: center">
            <a href="/pacientes/mostrar/consultas-medicas/{{ pac.username }}/" class="grad-button-blue">Continuar</a>
        </div>
        
    {% endif %}
    
    {% if show_errors %}
        <div class="alert" >		
        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        
        {% autoescape off %}
            {{ custon_errors }}
        {% endautoescape %}
        </div> 
    {% endif %}

    
 
{% endblock %}
