{% extends 'base.html' %}


{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/calendar-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
{% endblock %}


{% block contenido %}
<br />
<h2>Mis Dias Atencion Cancelados</h2>

<br />
<div style="width: 500px; margin: 0 auto;">
    <div style="float: left; width: 250px; text-align: center;">
    <a href="/medicos/mostrar/dias-no-laborales/{{ prev_month }}/{{ year }}/" style="text-decoration: None;"><img src="/media/images/minus-icon.png">&nbsp;</a>
    {{ name_month }}
    <a href="/medicos/mostrar/dias-no-laborales/{{ next_month }}/{{ year }}/" style="text-decoration: None;">&nbsp;<img src="/media/images/plus-icon.png" /></a>
    </div>
    <div style="width: 250px; margin-left:250px; text-align: center;">
    <a href="/medicos/mostrar/dias-no-laborales/{{ month }}/{{ prev_year }}/" style="text-decoration: None;"><img src="/media/images/minus-icon.png">&nbsp;</a>
    {{ year }}
    <a href="/medicos/mostrar/dias-no-laborales/{{ month }}/{{ next_year }}/" style="text-decoration: None;">&nbsp;<img src="/media/images/plus-icon.png" /></a>
    </div>
</div>

<br />
<table class="calendar" style="margin: 0 auto;">
	<tr>
		<th>Lunes</th>
		<th>Martes</th>
		<th>Miercoles</th>
		<th>Jueves</th>
		<th>Viernes</th>
		<th>Sabado</th>
		<th>Domingo</th>
	</tr>

	{% for week in wekends %}
		<tr>
		{% for day in week %}
			{% if day.day %}
                {% if day.type == 1 %}
                    <td><a class="calendar-blank" href="/medicos/agregar/dia-no-laboral/{{ day.day }}/{{ month }}/{{ year }}/">{{ day.day }}</a></td>
                {% else %}{% if day.type == 2 %}
                    <td class="calendar-null">{{ day.day }}</td>
                {% else %}{% if day.type == 3 %}
                    tip3
                {% else %} 
                   <td class="calendar-null">{{ day.day }}</td>
                    
                {% endif %}{% endif %}{% endif %}
            {% else %}
				<td class="calendar-no-day"></td>
			{% endif %}
		{% endfor %}
		</tr>
	{% endfor %}
</table>
<br />
<h3>Informacion </h3><br />
<p> <span class="calendar-null"> &nbsp;&nbsp;&nbsp;</span>&nbsp; Dias Donde no se Asigna Turno</p><br />
<p> <span class="calendar-over"> &nbsp;&nbsp;&nbsp;</span>&nbsp; Turnos Completos </p><br />
<p> <span class="calendar-cancel"> &nbsp;&nbsp;&nbsp;</span>&nbsp; Dias Cancelados </p><br />

        
{% endblock %}