{% extends 'Medics/GestionTurnos/patient-view.html' %}

{% block view-cont %}
<div  style="padding-left:10px;" >
    <h2> Prescripciones Medicas </h2>
    <p style="font-size:14px;margin-left:10px">{{ pac.last_name  }}, {{ pac.first_name }} </p>
</div>

<br /><br />

<div style="text-align: right; width: 600px; margin: 0 auto;">
    <a href="/pacientes/buscar/" class="grad-button-blue">Atras</a>
   <!-- <a href="/medicos/agregar/consulta-medica/{{ pac.username }}/" class="grad-button-blue">Añadir Receta Medicas</a> -->
</div>

<br />

    <table class="tbl-round-light" style="width:600px; margin: 0 auto;">
        <tr>
            <th>Medico</th>
            <th style="width:150px">Fecha Prescripcion</th>
            <th style="width:150px">Fecha Vencimiento</th>

        </tr>
        {% for pm in prescs_medics %}
        <tr>
                <td><a href="/medicos/mostrar/prescripcion-medica/{{ pm.id }}/">{{ pm.med_consulation.medic.last_name }}, {{ pm.med_consulation.medic.first_name }}</a></td>
                <td><a href="/medicos/mostrar/prescripcion-medica/{{ pm.id }}/">{{ pm.prescription_date }}</a></td>
                <td><a href="/medicos/mostrar/prescripcion-medica/{{ pm.id }}/">{{ pm.expiration_date }}</a></td>
        </tr>
        {% endfor %}

    </table>
    <br />
{% endblock %}
