    <div class="fancy-form-white" style="width: 450px; margin: 0 auto;">
    <form action="" method="POST">
    <table style="width:300px; margin: 0 auto;">
        <tr>
            <td><label>{{ form.date.label }} :</label></td>
            <td>{{ form.date }}</td>
        </tr>
        <tr>
            <td><label>{{ form.start_time.label }} :</label></td>
            <td>{{ form.start_time }}</td>
        </tr>
        <tr>
            <td><label>{{ form.end_time.label }} :</label></td>
            <td>{{ form.end_time }}</td>
        </tr>
        <tr>
            <td><label>{{ form.turn_duration.label }} :</label></td>
            <td>{{ form.turn_duration }}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
            <br />
            <input type="submit" class="grad-button-blue" value="Agregar"  />
            <a href="/medicos/mostrar/mis-horarios-atencion/" class="grad-button-blue">Volver</a>
            </td>
        </tr>    
    </table>
    </form>
    </div>
