{% load thumbnail %}

<div class="fancy-form-white" style="width: 650px; margin: 0 auto;" >
    <h3 class="title">Modificar Datos Basicos </h3>
    <br />
    <form action="." method="POST">
    <table style="margin: 0 auto;">
    <tr>
        <td><label>{{ form.email.label }} :</label></td>
        <td>{{ form.email }}</td>
    </tr>

    <tr>
        <td><label>{{ form.first_name.label }} :</label></td>
        <td>{{ form.first_name }}</td>
    </tr>

    <tr>
        <td><label>{{ form.last_name.label }} :</label></td>
        <td>{{ form.last_name }}</td>
    </tr>

    <tr>
        <td><label>{{ form.type_doc.label }} :</label></td>
        <td>{{ form.type_doc }}</td>
    </tr>

    <tr>
        <td><label>{{ form.nro_doc.label }} :</label></td>
        <td>{{ form.nro_doc }}</td>
    </tr>

    {% if is_medic %}
    <tr>
        <td><label>{{ form.matricula.label }} :</label></td>
        <td>{{ form.matricula }}</td>
    </tr>
    {% endif %}

    <tr>
        <td><label>{{ form.gender.label }} :</label></td>
        <td>{{ form.gender }}</td>
    </tr>

    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
        <td><label>{{ form.address.label }} :</label></td>
        <td>{{ form.address }}</td>
    </tr>

    <tr>
        <td><label>{{ form.city.label }} :</label></td>
        <td>{{ form.city }}</td>
    </tr>
    
    <tr>
        <td><label>{{ form.state.label }} :</label></td>
        <td>{{ form.state }}</td>
    </tr>

    <tr>
        <td><label>{{ form.phone.label }} :</label></td>
        <td>{{ form.phone }}</td>
    </tr>

    <tr>
        <td> <label>Foto Actual</label></td>
        <td>
            {# si no posee imagen personalizada muestra una por defecto #}
            {% if pac_inf.photo %}
                <img src="{% thumbnail pac_inf.photo 200x200 %}" alt="no photo" />
            {% else %}
                <img src="/media/upload/images/no-avatar.png" />
            {% endif %}
        </td>
    </tr>

    <tr>
        <td><label>{{ form.photo.label }} :</label></td>
        <td>{{ form.photo }}</td>
    </tr>

    <tr>
        <td colspan="2" style="text-align: center">
            <br />
            <input type="submit" class="grad-button-blue" value="Guardar Cambios"  />
            <a href="/pacientes/show-info/{{ pac_username }}/" class="grad-button-blue">Volver</a>
		</td>
    </tr>
    </table>
    </form>
    </div>
