{% extends 'base.html' %}

{% block style %}
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/sub-menu-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />

    {% block ext_style %}
    {% endblock %}

{% endblock %}

{% block contenido %}

<div class="left-cont">
<div class="left-sub-menu">
    <h4>Informe General</h4>
    <ul>
        <li><a href="/pacientes/show-info/{{ pac_username }}/">Datos Personales</a></li>
    </ul>
    <br />

    <h4>Consultas Medicas</h4>
    <ul>
        <li><a href="/pacientes/mostrar/consultas-medicas/{{ pac_username }}/">Consultas Activas</a></li>
        <li><a href="/pacientes/mostrar/recetas-medicas/{{ pac_username }}/">Recetas Medicas</a></li>
    </ul>
    <br />

    <h4>Historias Clinicas</h4>
    <ul>
        <li><a href="/pacientes/mostrar/antecedentes-perinatales/{{ pac_username }}/">Antecedentes Perinatales</a></li>
        <li><a href="/pacientes/mostrar/habitos-toxicos/{{ pac_username }}/" title="">Habitos Toxicos</a></li>
        <li><a href="/pacientes/listado/examen-fisico/{{ pac_username }}/" title="">Examen Fisico</a></li>
        <li><a href="" title="">Cabeza</a></li>
        <li><a href="" title="">Cuello</a></li>
        <li><a href="" title="">Piel Faneas y Tejido Subcutaneo</a></li>
        <li><a href="" title="">Abdomen Pelviz</a></li>
        <li><a href="" title="">Sistema Osteo Articular</a></li>
        <li><a href="" title="">Sistema Neuro Muscular</a></li>
        <li><a href="" title="">Torax Aparato Respiratorio</a></li>
        <li><a href="" title="">Aparato Cardiovascular</a></li>
        <li><a href="/pacientes/mostrar/imagenes/{{ pac_username }}/">Imagenes</a></li>
        <li><a href="">Archivos</a></li>
        <li>&nbsp;</li>
        <li><a href="">Exportar Historia Clinica</a></li>
    </ul>
    <br />

</div>
</div>

<div class="center-cont">
    {% block view-cont %}
    {% endblock %}
</div>
{% endblock %}
