{% extends 'base.html' %}

{% block style %}
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/sub-menu-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />

    {% block ext_style %}
    {% endblock %}

{% endblock %}

{% block contenido %}

<div class="left-cont">
<div class="left-sub-menu">
    <h4>Informe General</h4>
    <ul>
        <li><a href="/pacientes/show-info/{{ pac_username }}/">Datos Personales</a></li>
        <li><a href="/medicos/turnos/seleccionar-dia/{{ pac_username }}/">Asignar Turno</a></li>
        <li><a href="/medicos/turnos/listado/{{ pac_username }}/">Turnos Solicitados</a></li>
    </ul>
    <br />

    <h4>Consultas Medicas</h4>
    <ul>
        <li><a href="/pacientes/mostrar/consultas-medicas/{{ pac_username }}/">Consultas Activas</a></li>
        <li><a href="/medicos/listado/prescripcion-medica/{{ pac_username }}/">Recetas Medicas</a></li>
    </ul>
    <br />

    <h4>Historias Clinicas</h4>
    <ul>
        <li><a href="/pacientes/mostrar/antecedentes-perinatales/{{ pac_username }}/">Antecedentes Perinatales</a></li>
        <li><a href="/pacientes/mostrar/habitos-toxicos/{{ pac_username }}/">Habitos Toxicos</a></li>
        <li><a href="/pacientes/listado/examen-fisico/{{ pac_username }}/" >Examen Fisico Basico</a></li>
        <li><a href="/pacientes/listado/examen-cabeza/{{ pac_username }}/">Examen de Cabeza</a></li>
        <li><a href="/pacientes/listado/examen-cuello/{{ pac_username }}/" title="">Examen de Cuello</a></li>
        <li><a href="/pacientes/listado/examen-piel-faneras/{{ pac_username }}/" title="">Piel Faneras y Tejido Subcutaneo</a></li>
        <li><a href="/pacientes/listado/examen-osteo-articular/{{ pac_username }}/" title="">Sistema Osteo Articular</a></li>        
        <li><a href="/pacientes/listado/examen-aparato-respiratorio/{{ pac_username }}/" title="">Torax y Aparato Respiratorio</a></li>
        <li><a href="/pacientes/listado/examen-aparato-cardiovascular/{{ pac_username }}/" title="">Aparato Cardiovascular</a></li>
        <li><a href="/pacientes/mostrar/imagenes/{{ pac_username }}/">Imagenes</a></li>
        <li>&nbsp;</li>
    </ul>
    <br />

</div>
</div>

<div class="center-cont">
    {% block view-cont %}
    {% endblock %}
</div>
{% endblock %}
