{% extends 'Medics/GestionTurnos/patient-view.html' %}

{% load thumbnail %}

{% block view-cont %}
<div  style="padding-left:10px;" >
    <h3> Datos Paciente </h3>
    <p style="font-size:14px;">{{ pac.last_name  }}, {{ pac.first_name }} </p>
</div>

<br /><br />

<div style="text-align: right; width: 600px; margin: 0 auto;">
    <a href="/pacientes/modificar-datos-basicos/{{ pac.username }}/" class="grad-button-blue">Modificar Datos Basicos</a>
    <a href="/pacientes/borrar/{{ pac.username }}/" title="Eliminar" class="grad-button-blue">Borrar</a>
</div>
<br />

<style type="text/css">
#custom-tbl td {
    padding:5px;
}
</style>

<div class="fancy-form-white" style="text-align: left; width: 650px; margin: 0 auto;">
<table  id="custom-tbl">
    <tr>
        <td style="width:150px;"><label>Apellido y Nombre:</label></td>
        <td style="width:350px;">{{ pac.last_name  }}, {{ pac.first_name }}</td>
        <td rowspan="5" style="padding-left: 30px">
            {# si no posee imagen personalizada muestra una por defecto #}
            {% if pac_inf.photo %}
                <img src="{% thumbnail pac_inf.photo 120x120 %}" alt="no photo" />
            {% else %}
                <img src="/media/upload/images/no-avatar120x120.jpg" />
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><label>Documento:</label></td>
        <td>{{ pac_inf.type_doc }} - {{ pac_inf.nro_doc }}</td>

    </tr>
    <tr>
        <td><label>Fecha de Nacimiento:</label></td>
        <td>{{ pac_inf.birth_date }}</td>
    </tr>
    <tr>
        <td><label>Sexo:</label></td>
        <td>{{ pac_inf.get_gender_display }}</td>
    </tr>
    <tr>
        <td style="width:150px;"><label>Direccion:</label></td>
        <td>{{ pac_inf.address }}</td>
    </tr>
    <tr>
        <td> <label>Ciudad:</label></td>
        <td>{{ pac_inf.city }}</td>

    </tr>
    <tr>
        <td> <label>Provincia:</label></td>
        <td>{{ pac_inf.state }}</td>

    </tr>
    <tr>
        <td><label>Telefono:</label></td>
        <td>{{ pac_inf.phone }}</td>

    </tr>
    <tr>
        <td><label>Email:</label></td>
        <td>{{ pac.email }}</td>
    </tr>
</table>
<br />
</div>

<br />
{% endblock %}
