{% extends 'base.html' %}


{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/tabs-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
{% endblock %}


{% block contenido %}

<br />
<h2>Inbox - Recibidos</h2>

<ul class="tabs">
   <li><a href="/usuarios/inbox/redactar/">Nuevo Mensaje</a></li> 
   <li><a href="/usuarios/inbox/no-leidos/">Mensajes No Leidos</a></li>
   <li><a href="/usuarios/inbox/">Mensajes Recibidos</a></li> 
   <li><a href="/usuarios/inbox/enviados/">Mensajes Enviados</a></li> 
</ul>




{% if message %}
    
    <p>To: {{ message.to_user.get_full_name }} <a href="">@{{ message.to_user }}</a></p>
    <p>From: {{ message.from_user.get_full_name }} <a href="">@{{ message.from_user }}</a></p>
    
{% else %}
    <br /><br />
    <h3>Error el mensaje Solicitado no existe</h3>
{% endif %}

{% endblock %}