<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Page</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	
    <link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="css/menu-style.css" />
</head>

<body>

<div class="header">
    <div class="header-cont">
        <p id="username-login">Medic - Ricardo Quiroga</p>
    
        <h1>S.G.C.M.</h1>
        <p>Sistema de Gestion de Consultorio Medico</p>

        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Medicos</a>
                <ul>
                    <li><a href="#">Nuevo</a></li>
                    <li><a href="#">Listado</a></li>
                </ul>
            </li>
            <li><a href="#">Pacientes</a>
                <ul>
                    <li><a href="#">Nuevo</a></li>
                    <li><a href="#">Buscar</a></li>
                    <li><a href="#">Estadisticas</a></li>
                </ul>
            </li>
            <li><a href="#">Mensajes</a></li>
            <li><a href="#">Usuario</a>
                <ul>
                    <li><a href="#">Mis Datos</a></li>
                    <li><a href="#">Cambiar Contraseña</a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">Despedirse</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
</div>






</body>

</html>
