{% extends 'Medics/GestionTurnos/patient-view.html' %}

{% block ext_style %}
    <link rel="stylesheet" type="text/css" href="/media/css/fancy-forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/messages.css">
    <link rel="stylesheet" type="text/css" href="/media/css/gradient-buttons.css">
{% endblock %}


{% block view-cont %}
<div  style="padding-left:10px;" >
    <h3>Antecedentes Perinatales Modificar</h3>
    <p style="font-size:14px;">{{ pac.last_name  }}, {{ pac.first_name }} </p>
</div>

<br />

<div class="fancy-form-white" style="margin: 0 auto; width: 650px;">
<form action="" method="POST">
    <table style="margin: 0 auto;">
        <tr>
            <td> <label>{{ form.pregnancy_number.label }}:</label></td>
            <td>{{ form.pregnancy_number }}</td>
            <td style="width:200px;"> <label style=" padding-left: 20px;">{{ form.pregnancy_duration.label }}:</label></td>
            <td>{{ form.pregnancy_duration }}</td>
        </tr>
        <tr>
            <td> <label>{{ form.controls.label }}:</label></td>
            <td>{{ form.controls }}</td>
            <td> <label style=" padding-left: 20px;">{{ form.normal_birth.label }}:</label></td>
            <td>{{ form.normal_birth }}</td>
        </tr>
        <tr>
            <td> <label>{{ form.weight.label }}:</label></td>
            <td>{{ form.weight }}</td>
            <td> <label style=" padding-left: 20px;">{{ form.size.label }}:</label></td>
            <td>{{ form.size }}</td>
        </tr>
        <tr>
            <td> <label>{{ form.pathologies.label }}:</label></td>
            <td>{{ form.pathologies }}</td>
            <td> <label style=" padding-left: 20px;">{{ form.medical_care.label }}:</label></td>
            <td>{{ form.medical_care }}</td>
        </tr>
        <tr>
            <td style="width:200px"> <label>{{ form.coments.label }}:</label></td>
            <td colspan="3">{{ form.coments }}</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center">
            <br />
            <input type="submit" class="grad-button-blue" value="Guardar Cambios"  />
            <a href="/pacientes/mostrar/antecedentes-perinatales/{{ pac_username }}/" class="grad-button-blue">Volver</a>
            </td>
        </tr>
    </table>
</form>
</div>



{% endblock %}



