{% extends 'Medics/GestionTurnos/patient-view.html' %}

{% block ext_style %}

<style type="text/css">   
    .table tr:hover td {
        background-color:#E5E5E5;
    }
    .table td {
        padding: 7px 10px;
    }
    
</style>
{% endblock %}

{% block view-cont %}
<div  style="padding-left:10px;" >
    <br />
    <h2>Detalle de Examen Osteo Articular</h2>
    <p style="font-size:14px;margin-left:10px">{{ pac.last_name  }}, {{ pac.first_name }} </p>
</div>

<div style="text-align:right; margin:20px;">
    <a href="/pacientes/listado/examen-osteo-articular/{{ pac.username }}/" class="grad-button-blue">Atras</a>
</div>

<div class="fancy-form-white" style="text-align: left; width: 650px; margin: 0 auto;">
<table class="table" style="width:600px; margin: 0 auto;" cellspacing="0">
    <tr>
        <td>{{ exam_lbl.date }}:</td>
        <td>{{ exam.date }}</td>
    </tr>   
    <tr>
        <td>{{ exam_lbl.vertebra_column }}:</td>
        <td>{{ exam.vertebra_column }}</td>
    </tr>    
    <tr>
        <td>{{ exam_lbl.bone_axles }}:</td>
        <td>{{ exam.bone_axles }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.joints }}:</td>
        <td>{{ exam.joints }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.members }}:</td>
        <td>{{ exam.members }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.muscular_tropism }}:</td>
        <td>{{ exam.muscular_tropism }}</td>
    </tr>               
</table>
</div>    

{% endblock %}
