{% extends 'Medics/GestionTurnos/patient-view.html' %}

{% block ext_style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-forms.css" />
{% endblock %}

{% block view-cont %}
    <div  style="padding-left:10px;" >
        <h2>Habitos Toxicos</h2>
        <p style="font-size:14px;margin-left:10px">{{ pac.last_name  }}, {{ pac.first_name }} </p>
    </div>

    <div style="text-align:right; margin:20px;">
        <a href="/pacientes/modificar/habitos-toxicos/{{ pac.username }}/" class="grad-button-blue">Modificar</a>
    </div>

    <div class="fancy-form-white" style="text-align: left; width: 650px; margin: 0 auto;">
    <table style="width: 650px; font-size: 13px;">
        <tr>
            <td class="tbl-label"> Tabaco: </td>
            <td style="text-align: left; width:120px">{% if habt.snuff == 'S' %} SI {% else %} NO {% endif %}</td>

            <td class="tbl-label"> Alcohol:</td>
            <td style="text-align: left">{% if habt.alcohol == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>

        <tr>
            <td class="tbl-label"> Drogas: </td>
            <td style="text-align: left; width:120px">{% if habt.drugs == 'S' %} SI {% else %} NO {% endif %}</td>

            <td class="tbl-label"> Infuciones:</td>
            <td style="text-align: left">{% if habt.infusions == 'S' %} SI {% else %} NO {% endif %}</td>
        </tr>

        <tr>
            <td colspan="4" class="tbl-label">Observaciones:</td>
        </tr>
        <tr>
            <td colspan="4"><div style="padding:10px; border: 1px solid #BBBBBB;"> {{ habt.observations }} </div></td>
        </tr>
    </table>
    </div>



{% endblock %}
