{% extends 'Medics/GestionTurnos/patient-view.html' %}

{% block ext_style %}

<style type="text/css">   
    .table tr:hover td {
        background-color:#E5E5E5;
    }
    .table td {
        padding: 3px 10px;
    }
    
</style>
{% endblock %}

{% block view-cont %}
<div  style="padding-left:10px;" >
    <h2>Examenes Fisico</h2>
    <p style="font-size:14px;margin-left:10px">{{ pac.last_name  }}, {{ pac.first_name }} </p>
</div>

<div style="text-align:right; margin:20px;">
    <a href="/pacientes/agregar/examen-fisico/{{ pac.username }}/" class="grad-button-blue">Atras</a>
</div>

<div class="fancy-form-white" style="text-align: left; width: 650px; margin: 0 auto;">
<table class="table" style="width:600px; margin: 0 auto;" cellspacing="0">
    <tr>
        <td>{{ exam_lbl.date }}:</td>
        <td>{{ exam.date }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.body_temperature }}:</td>
        <td>{{ exam.body_temperature }}º (Centigrados)</td>
    </tr>    
    <tr>
        <td>{{ exam_lbl.sistolic_blood_pressure }}:</td>
        <td>{{ exam.sistolic_blood_pressure }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.diastolic_blood_pressure }}:</td>
        <td>{{ exam.diastolic_blood_pressure }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.respiratory_rate }}:</td>
        <td>{{ exam.respiratory_rate }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.pulse }}:</td>
        <td>{{ exam.pulse }}</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.average_weight }}:</td>
        <td>{{ exam.average_weight }} kilos</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.weight }}:</td>
        <td>{{ exam.weight }} kilos</td>
    </tr>
    <tr>
        <td>{{ exam.overweight_lbl }}:</td>
        <td>{{ exam.overweight }} kilos</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.average_height }}:</td>
        <td>{{ exam.average_height }} metros</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.height }}:</td>
        <td>{{ exam.height }} metros</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.bmi }}:</td>
        <td>{{ exam.bmi }} %</td>
    </tr>
    <tr>
        <td>{{ exam_lbl.general_impression }}:</td>
        <td>{{ exam.general_impression }}</td>
    </tr>     
</table>
</div>



{% endblock %}
