{% extends 'base.html' %}


{% block style %}
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/win-style.css" />
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-botons-style.css" />
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
	
{% endblock %}



{% block contenido %}

<br /><br />

<table style="font-size:12px" class="table">
	<tr>
		<th>Name</th>
		<th>App Label</th>
		<th>Model</th>
	</tr>
	
	{% for app in apps %}
		
		<tr>
			<td>{{ app.name }}</td>
			<td>{{ app.app_label }}</td>
			<td>{{ app.model }}</td>
		</tr>
		
	
	{% endfor %}

</table>

<br /><br />
{% endblock %}
