{% extends 'base.html' %}


{% block contenido %}
<br>

<div class="calendar">

<h3>
<a href="/usuarios/calendar/{{ prev_month }}/{{ prev_year }}/"><img src="/media/images/arrow_left_icon24.png" align="top"></a>
<a href="/usuarios/calendar/{{ next_month }}/{{ next_year }}/"><img src="/media/images/arrow_right_icon24.png" align="top"></a>
 &nbsp; {{ month }} / {{ year }}
</h3>


<table >
	<tr>
		<th>Lunes</th>
		<th>Martes</th>
		<th>Miercoles</th>
		<th>Jueves</th>
		<th>Viernes</th>
		<th>Sabado</th>
		<th>Domingo</th>
	</tr>

	{% for week in wekends %}
		<tr>
		{% for day in week %}
			{% if day %}
				<td class="normal-cell"><a href="">{{ day }}</a></td>
			{% else %}
				<td class="null-cell"></td>
			{% endif %}
		{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>

{% endblock %}
