{% extends 'base.html' %}


{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/win-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-botons-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />

{% endblock %}



{% block contenido %}
    <br />
    <a href="/medicos/listado">Volver Atras</a>

    {% if query %}
        {% if query_msj %}
            <div class="info">
                <p>Se quito satisfactoriamente la siguiente especialidad: {{ query_msj }}</p>
            </div>
        {% else %}
            <div class="error">
                <p>Error: La Especialidad medica selecionada no existe</p>
            </div>
        {% endif %}


    {% else %}
        {% if esp_med %}
            <div class="windows" style="width:500px">
                <h3>Quitar Especialidad</h3>
                <div style="margin: 0 auto; width:400px">
                    <br />
                    <p><span class="label_desc">Medico:</span> <span class="label_cont">{{ esp_med.medic_name }}</span></p>
                    <p><span class="label_desc">Especialidad:</span> <span class="label_cont">{{ esp_med.speciality_name }}</span> </p>
                </div>

                <form action="" method="POST">
                    <div align="center">
                    <br />
                    <input type="submit" class="buttonCA" value="Confirmar">
                    </div>
                </form>

                <br />
            </div>
        {% else %}
            <div class="error">
                <p>Error: La Especialidad medica selecionada no existe</p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
