{% extends 'base.html' %}


{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/win-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-botons-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/tabs-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
{% endblock %}



{% block contenido %}
    <br />

    <ul class="tabs">
        <li><a href="/medicos/mostrar/datos/{{ user.id }}">Datos Personales</a></li>
        <li><a href="/medicos/mostrar/especilidades/{{ user.id }}">Especialidades</a></li>
        <li><a href="/medicos/mostrar/horarios-atencion/{{ user.id }}">Horario Atencion</a></li>
    </ul>
    <div style="clear: both;"></div>
    <br />

    <div class="windows" style="width:500px">
        <h3>{{ sub_title }}</h3>

        <form action="" method="POST">

        <table>

            <tr>
                <td>
                    <select class="edt_g" name="especialidad">
                    {% for speciality in especialities %}
                        <option value="{{ speciality.id }}">{{ speciality }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align: center">
                    <br />
                    <input type="submit" value="Agregar" class="buttonCA">
                </td>
            </tr>
        </table>

        </form>

    </div>

    {% if med_speciality_add %}
        <br /><br />
        <div class="info">
            <p>Especialidad "{{ med_speciality_add.name }}" Agregada</p>
        </div>
    {% endif %}

    <br /><br />

    <table  class="table" style="width: 500px; margin: 0 auto">
        <tr>
            <th>Nombre Especialidad</th>
            <th>Accion</th>
        </tr>
        {% for med_speciality in med_especialities %}
            <tr>
                <td>{{ med_speciality.speciality.name }}</td>
                <td align="center"><a href="/medicos/quitar/especilidades/{{ med_speciality.id }}"><img src="/media/images/page_delete.gif"></a></td>
            </tr>
        {% endfor %}
    </table>





{% endblock %}
