<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
	
	{% block meta_tags %}
	{% endblock %}
	
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>{{ page_title }}</title>
	
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/style.css">
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/menu-style.css">
	
	{% block javascript %}
	{% endblock %}
	
	{% block style %}
	{% endblock %}
	
</head>

<body>
	<div class="header-cont">
		<img src="/media/images/baner-logo.png" >
		
		<a href='{{ User.url }}' title='{{ User.title }}'>{{ User.name }}</a>
		
	</div>
	
	<div class="menu-cont">
		<div class="menu">
			<ul>
			{% autoescape off %}
			
				{{ user_menu }}
				
			{% endautoescape %}
			</ul>
		<div style="clear: both;"></div>
		</div>
	</div>
	
	<div class="page-body">
	
		{% block contenido %}
        {% endblock %}
	
	</div>
	
	
</body>

</html>
