{% extends 'base.html' %}

{% block style %}
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/fancy-botons-style.css" />
	<link type="text/css" rel="stylesheet" media="all" href="/media/css/messages.css" />
	
{% endblock %}

{% block contenido %}
	
	<br />
	<br />	
	<br />		
	
	{% if error %}
	
		<div class="alert">Alerta: No puedes cerrar session por que no te encuentras logueado...</div>
	
	{% else %}
	
		<div class="info">Informacion: Te has desconectado correctamente..</div>
		
	{% endif %}
	
	<br /><br />
	
	<div style="text-align: center">
		<a href="/" class="buttonCA">Ir a Inicio</a>	
		<a href="/login/" class="buttonCA">Login</a>	
	</div>
	
{% endblock %}
