{% extends 'base.html' %}

{% load thumbnail %}

{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
{% endblock %}


{% block contenido %}
    <style type="text/css">

    #custom-tbl {
        margin: 0 auto;
        width: 800px;
        background-color: #F2F2F2;
        font-size: 11pt;
    }

    #custom-tbl strong {
        color: #333;
    }

    #custom-tbl td {
        padding: 3px 0px;
    }

    #custom-tbl h3 {
        /*color: #333;*/
        /*background-color: #E4E4E4;*/
        padding: 5px 15px;
        font-size: 16pt;
    }

    </style>


    <br />
    <h2>Mis Datos</h2>
    <br />
    <div style="text-align: right; width:600px;margin: 0 auto;">
        <a href="" title="Modificar Datos" class="grad-button-blue">Modificar Datos</a>
        <a href="" title="Modificar Datos" class="grad-button-blue">Cambiar Contraseña</a>
        <a href="" title="Modificar Datos" class="grad-button-blue">Cambiar Avatar</a>
    </div>
    <br />
    <table  id="custom-tbl">
        <tr>
            <td colspan="2">
                <h3>Datos de Cuenta</h3>
                <br />
            </td>
        </tr>
        <tr>
            <td style="width:200px;"><strong>Email:</strong></td>
            <td> {{ user.email }}</td>
        </tr>
        <tr>
            <td> <strong>Usuario:</strong></td>
            <td> {{ user.username }}</td>
        </tr>
        <tr>
            <td> <strong>Tipo Usuario</strong></td>
            <td> {{ login_user_role }}</td> {# extraido de la general #}
        </tr>

        <tr>
            <td colspan="2">
                <br />
                <h3>Datos Personales</h3>
                <br />
                </td>
        </tr>
        <tr>
            <td> <strong>Apellido y Nombre: </strong></td>
            <td> {{ user.last_name }}, {{ user.first_name }}</td>
        </tr>
        <tr>
            <td> <strong>Documento:</strong></td>
            <td> {{ user_data.type_doc }} {{ user_data.nro_doc }}</td>
        </tr>
        <tr>
            <td> <strong>Direccion:</strong></td>
            <td> {{ user_data.address }}</td>
        </tr>
        <tr>
            <td> <strong>Ciudad:</strong></td>
            <td> {{ user_data.city }}</td>
        </tr>
        <tr>
            <td> <strong>Provincia: </strong></td>
            <td> {{ user_data.state }}</td>
        </tr>
        <tr>
            <td>
                <br />
                <h3>Foto:</h3>
                <br />
            </td>
            <td><br />

                <img src="{% thumbnail user_data.photo 350x350 %}">

            </td>
        </tr>
        <tr>
            <td colspan="2"><br /><h3></h3></td>
        </tr>
    </table>

{% endblock %}
