{% extends 'base.html' %}


{% block style %}
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/tabs-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/table-style.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/media/css/gradient-buttons.css" />
{% endblock %}


{% block contenido %}

<br />
<h2>Mensajes Recibidos</h2>
<br />
<a href="/mensajes/recibidos/" class="grad-button-blue">Recibidos</a>
<a href="/mensajes/enviados/" class="grad-button-blue">Enviados</a>
<br />
<!-- ul class="tabs">
   <li><a href="/usuarios/inbox/redactar/">Nuevo Mensaje</a></li>
   <li><a href="/usuarios/inbox/no-leidos/">Mensajes No Leidos</a></li>
   <li><a href="/usuarios/inbox/">Mensajes Recibidos</a></li>
   <li><a href="/usuarios/inbox/enviados/">Mensajes Enviados</a></li>
</ul -->


{% if message %}
    <br />
    <div style="font-size:12px;background: #EEE; padding: 10px;width:840px;">
        <p><strong>De:</strong> {{ message.from_user.get_full_name }} <strong>@{{ message.from_user }}</strong></p>
        <p><strong>Para:</strong> {{ message.to_user.get_full_name }} <strong>@{{ message.to_user }}</strong></p>
        <p><strong>Asunto:</strong> {{ message.issue }}</p>
        <br />
        <pre style="background: #FFF;padding: 10px; width:800px; min-height: 200px">{{ message.content }}</pre>
        <div style="text-align: right; padding: 20px 15px">            
            <a href="/mensajes/responder/{{ message.id }}/" class="grad-button-blue">Responder</a>            
        </div>
    </div>
    
    
{% else %}
    <br /><br />
    <h3>Error el mensaje Solicitado no existe</h3>
{% endif %}

{% endblock %}
