{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/css/fancy-forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/messages.css">
    <link rel="stylesheet" type="text/css" href="/media/css/gradient-buttons.css">
{% endblock %}

{% block contenido %}
<br />
<h2>{{ title }}</h2>

<br />
{% if show_form %}
    <div class="fancy-form-white" style="margin: 0 auto; width: 500px;">
        <form action="" method="POST">
        <table style="margin: 0 auto;">
            <tr>
                <td> <label> {{ form.to_user.label }}</label></td>
                <td> {{ form.to_user }}</td>
            </tr>
            <tr>
                <td> <label> {{ form.issue.label }}</label></td>
                <td> {{ form.issue }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />   
                    {{ form.content }}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                <input type="submit" value="Enviar" class="grad-button-blue" />
                </td>
            </tr>

        </table>
        </form>
    </div>
{% else %}

<div class="info">
    <p> Mensaje Enviado...</p>
</div>

{% endif %}


{% endblock %}
