{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/media/css/fancy-forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/messages.css">
    <link rel="stylesheet" type="text/css" href="/media/css/gradient-buttons.css">
{% endblock %}

{% block contenido %}
<br />


{% if show_form %}
    <h2>{{ title }}</h2>
    <br />
    <div class="fancy-form-white" style="margin: 0 auto; width: 700px;">
    
        <form action="" method="POST">
        <table style="margin: 0 auto;">
            <tr>
                <td style="width:100px"><label>De:</label></td>
                <td>@{{ form_to_user }}</td>
            </tr>
            <tr>
                <td> <label>Asunto:</label></td>
                <td> {{ form_issue }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    {{ form.content }}
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                <input type="submit" value="Responder" class="grad-button-blue" />
                </td>
            </tr>

        </table>
        </form>
    </div>
{% else %}

<div class="info">
    <p> Mensaje Enviado...</p>
</div>

{% endif %}


{% endblock %}
