<li><a href="/">Home</a></li>

<li><a href="/admins/buscar/paciente/">Pacientes</a>
    <ul>
        <li><a href="/admins/buscar/paciente/">Buscar</a></li>
        <li><a href="/pacientes/registrar/">Nuevo</a></li>
    </ul>
</li>
<li><a href="/admins/buscar/medico/">Medicos</a>
    <ul>
        <li><a href="/admins/buscar/medico/">Buscar</a></li>
        <li><a href="/admins/registrar/medico/">Nuevo</a></li>
    </ul>
</li>
<li><a href="/admins/buscar/administrativo/">Administrativos</a>
    <ul>
        <li><a href="/admins/buscar/administrativo/">Buscar</a></li>
        <li><a href="/admins/registrar/administrativo/">Nuevo</a></li>
    </ul>
</li>

<li><a href="">Turnos</a>
    <ul>
        <li><a href="">Turnos Solicitados</a></li>
        <li><a href="" title="">Nuevo</a></li>
    </ul>
</li>

<li><a href="/admins/listado/expecialidad-medica/" title="">Especialidades</a>
    <ul>
        <li><a href="/admins/listado/expecialidad-medica/">Listado</a></li>
        <li><a href="/admins/registrar/expecialidad-medica/">Nuevo</a></li>
    </ul>
</li>

<li><a href="">Mensajes</a>
    <ul>
        <li><a href="/mensajes/redactar/">Redactar</a></li>
        <li><a href="/mensajes/recibidos/">Recibidos</a></li>
        <li><a href="/mensajes/enviados/">Enviados</a></li>
    </ul>
</li>

<li><a href="">Opciones</a>
    <ul>
        <li><a href="/mis-datos/">Mis Datos</a></li>
        <li><a href="/change-password/">Cambiar Contraseña</a></li>
        <li><a href="">&nbsp;</a></li>
        <li><a href="/logout">Cerrar Session</a></li>
    </ul>
</li>
