<li><a href="/">Home</a></li>
<li><a href="/medicos/cronograma/">Cronograma</a></li>
<li><a href="/pacientes/buscar/">Pacientes</a>
    <ul>
        <li><a href="/pacientes/buscar/">Buscar</a></li>
        <li><a href="/pacientes/registrar/">Nuevo</a></li>
    </ul>
</li>
<li><a href="">Turnos</a>
    <ul>
        <li><a href="/medicos/selecionar/turnos-asignados/">Turnos Solicitados</a></li>
        <li><a href="/medicos/mostrar/mis-horarios-atencion/">Horario Atencion</a></li>
        <li><a href="/medicos/mostrar/dias-no-laborales/">Dias No Laborales</a></li>
    </ul>
</li>
<li><a href="/mensajes/recibidos/">Mensajes</a>
    <ul>
        <li><a href="/mensajes/redactar/">Redactar</a></li>
        <li><a href="/mensajes/recibidos/">Recibidos</a></li>
        <li><a href="/mensajes/enviados/">Enviados</a></li>
    </ul>
</li>

<li><a href="/mis-datos/">Opciones</a>
    <ul>
        <li><a href="/mis-datos/">Mis Datos</a></li>
        <li><a href="/change-password/">Cambiar Contraseña</a></li>
        <li><a href="">&nbsp;</a></li>
        <li><a href="/logout">Cerrar Session</a></li>
    </ul>
</li>
