<li><a href="/">Home</a></li>
<li><a href="">Pacientes</a>
    <ul>
        <li><a href="/pacientes/buscar/">Buscar</a></li>
        <li><a href="/pacientes/registrar/">Nuevo</a></li>
    </ul>
</li>
<li><a href="">Turnos</a>
    <ul>
        <li><a href="/medicos/mostrar/mis-horarios-atencion/">Turnos Solicitados</a></li>
        <li><a href="/medicos/mostrar/mis-horarios-atencion/">Horario Atencion</a></li>
        <li><a href="/medicos/mostrar/dias-no-laborales/">Dias No Laborales</a></li>
    </ul>
</li>
<li><a href="">Mensajes</a>
    <ul>
        <li><a href="/">Redactar</a></li>
        <li><a href="/">Recibidos</a></li>
        <li><a href="/">Enviados</a></li>
    </ul>
</li>

<li><a href="">Opciones</a>
    <ul>
        <li><a href="/mis-datos/">Mis Datos</a></li>
        <li><a href="/pacientes/registrar/">Cambiar Contraseña</a></li>
        <li><a href="">&nbsp;</a></li>
        <li><a href="/logout">Cerrar Session</a></li>
    </ul>
</li>
