<li><a href="/">Home</a></li>
<li><a href="/medicos/listado/">Listado de Medicos</a></li>
<li><a href="">Mensajes</a>
    <ul>
        <!-- li><a href="/mensajes/redactar/">Redactar</a></li -->
        <li><a href="/mensajes/recibidos/">Recibidos</a></li>
        <li><a href="mensajes/enviados/">Enviados</a></li>
    </ul>
</li>
<li><a href="/pacientes/turnos/listado">Mis Turnos</a></li>
<li><a href="">Opciones</a>
    <ul>
        <li><a href="/mis-datos/">Mis Datos</a></li>
        <li><a href="/change-password/">Cambiar Contraseña</a></li>
        <li><a href="">&nbsp;</a></li>
        <li><a href="/logout">Cerrar Session</a></li>
    </ul>
</li>
