
.menu-cont {
	font-family: Verdana;
	background-color: #DBDBDB;
	padding: 0px;
}


.menu {
	width: 1000px;
	margin-left: 3%;
}


.menu label, .menu a {
	text-decoration: None;
	color: #FFF;
	font-size: 11px;
}

/*
.menu li label {
	background-image: url("images/left-icon-arrow-16.png");
	background-repeat:no-repeat;
	background-position: 3px 4px;
	padding-left: 10px;
}

.menu li label:hover {
	background-image: url("images/down-icon-arrow-16.png");
}
*/


.menu ul li {
	float: left;
	display: inline;
	position: relative;
	padding: 0px;
}


.menu li {
    list-style-type: none;
    float: left;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}


.menu li a, .menu li label {
	text-align: center;
	width: 100px;
	display: block;
	padding-top: 5px;
	padding-bottom: 3px;
	/*border: 1px solid #F00;*/
	margin-right: 0px;
}


.menu li a:hover, .menu li label:hover {
	background-color: #C6ECFF;
}

.menu li ul li a {
	text-align: left;
	border: 0;
	margin: 0;
	padding: 5px;
}


.menu li ul li {
	border: 0;
	margin: 0;
	padding:0;
}


.menu li ul {
	display: none;
	position: absolute;
	top: 21px;
	left:0px;
	margin:0;
	padding:0;
	background:#DBDBDB;
	width: 120px;
	border-top: 1px solid #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu li ul li a{
	width: 110px;
}


.menu ul li {
	display: block !important;
}


.menu li:hover ul{
	display: block;
}


