<style type="text/css">
    body {
        font-family: Verdana;
        font-size: 80%;
    }

    a {
        text-decoration: None;
    }
</style>

<div style="background-color: #333; color: #FFF; padding: 5px 10px;">
    <h1 style="margin: 0; padding: 0;">S.G.C.M.</h1>
    <p style="margin: 0; padding: 0;">Sistema de Gestion de Consultorios Medicos</p>
</div>
<div style="padding: 10px 15px;">
    <h2>Confirmacion de Registro de Usuario</h2>

    <p>Hola {{ first_name }} {{ last_name }}:</p>
    <p>Gracias Por Registrarte, para finalizar el proceso de registro de Usuario y activar su cuenta, haga
    clic sobre el siguiente enlace o copie y pegue la URL completa en su navegador:</p>

    <a href="{{ page_url }}/activar-usuario/{{ username }}/{{ activaction_key }}/">{{ page_url }}/activar-usuario/{{ username }}/{{ activaction_key }}/</a>

    <p>O acceda al siguiente enlace <a href="{{ page_url }}/activar-usuario/">{{ page_url }}/activar-usuario/</a></p>

    <p><strong>Usuario:</strong> {{ username }}</p>
    <p><strong>Codigo Activacion:</strong> {{ activaction_key }}</p>

    <p>Tras la activacion podra acceder a la aplicacion.</p>
</div>

<div style="background-color: #333; color: #FFF; padding: 5px 10px;">
</div>
